<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zappos iOS Challenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0FF5A1D1BB5E7BC00BCE5B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FF5A311BB5E7BD00BCE5B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FF5A3C1BB5E7BD00BCE5B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
